body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background: var(--background);
  font-family: 'Poppins', sans-serif;
}

h2 {
  color: var(--main-shape);
}

.expense {
  color: var(--red);
}

.more {
  color: var(--green);
}

main {
  flex: 1;
  margin: -3rem 11rem 0;
}

header {
  padding: 1rem;

  display: flex;
  align-items: baseline;
  justify-content: center;

  background-color: var(--dark-green);
  height: 10rem;
}

#balance {
  margin-bottom: 32px;
}

#balance ul {
  display: flex;
  justify-content: space-around;
}

#balance li {
  width: 30%;
  border-radius: 8px;
  padding: 1rem;

  color: var(--text);
  background: var(--main-shape);
}

#balance li:last-child {
  background: var(--green);
  color: var(--main-shape);
}

#balance li .card-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#balance li .card-title h3 {
  font-size: 0.9rem;
}

#balance li .card-content  {
  color: var(--title);
  padding: 0.5rem;
  padding-bottom: 0;

  font-size: 1.3rem;
}

#balance li .card-content p span {
  font-weight: 600;
}

#balance li:last-child .card-content {
  color: var(--main-shape);
}

#transactions button {
  margin-bottom: 8px;

  color: var(--green);
  font-size: 1rem;
}

#transactions button:hover {
  opacity: 0.7;
}

#transactions table {
  min-width: 100%;
  text-align: start;
  border-collapse: separate;
  border-spacing: 0 0.5rem;
}

#transactions table td {
  padding: 1rem;
}

#transactions table th {
  text-align: start;
  
  padding: 0.5rem 1rem;
  
  color: var(--text);
  font-weight: normal;
  font-size: 0.9rem;
}

#transactions table tbody tr {
  background-color: var(--main-shape);
}

#transactions table tbody tr td:last-child {
  color: var(--text);
}

#transactions table tbody tr + tr {
  margin-top: 0.5rem;
}

footer {
  color: var(--title);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem 0;
}